*.o
*.a
*.d
*.in
*.out
*.log
*~
*.cat?
.#*
.deps
.DS_Store
m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
parse.c
stamp-h1
ylwrap
*_map.c
clang_*
*-scan-build
